@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/*ヘッダー*/

/*mainvisual*/

/*about*/
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

/*bicycle*/

/*footer*/

/*sp*/
/*mainvisual*/

/*about*/

/*bicycle*/

/*footer*/

